################################################################################
## VA3WAM GitIgnore template v1.0
## This GitIgnore file is set up to ensure that projects using Visual Studio 
## Code and PlatformIO as part of the development tool chain do not cause 
## conflicts between between individual contributor environments when 
## syncronizing with the Git origin repository. This file is organized into 
## product specific sections in order to make it easier to maintain.
################################################################################

## Git.
## All files in the hidden Git directory. Ensure that the gitignore file itself
## is not ignored.
.git*
!/.gitignore

## PlatformIO. 
## All files in the hidden PlatformIO directory.
.pio*
platformio.ini

## Visual Studio Code. 
## All files in the hidden Visual Studio Code directory.
.vscode/*

## Build files. 
## This map file is created if you include the line build_flags = -Wl,-Map,output.map 
## in the environment section of your platformio.ini file.
*output.map

## Ignore fake files. 
.fake